<ion-header>
  <ion-navbar>
    <ion-title>HAMACADUNK</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2> </h2>
 
  <ion-list>
<button ion-button block (click)="startScanning()"> Buscar equipos</button>
  <ion-list-header>
 Equipos Conectados
  </ion-list-header>
  <ion-item *ngFor="let device of pairedDevices">
    {{device.name}}
  </ion-item>
    <ion-list-header>
   Equipos Disponibles
  </ion-list-header>
    <ion-item *ngFor='let device of unpairedDevices'>
    <span (click)="selectDevice(device.address)">
      {{device.name}}
    </span>
  </ion-item>
  <ion-item>
    <ion-label style="color: #857062;">ON/OFF</ion-label>
    <ion-toggle [(ngModel)]="onOff"></ion-toggle>
  </ion-item>

   <ion-label style="color: #897b71;">FIRST SERVO IS AT {{fServo}} &deg; </ion-label>
 <ion-range min="0" max="180" [(ngModel)]="fServo" color="secondary">
      <ion-label range-left>0 &deg;</ion-label>
      <ion-label range-right>180 &deg;</ion-label>
    </ion-range>
<ion-label style="color: #897b71;">SECOND SERVO IS AT {{sServo}} &deg;</ion-label>
     <ion-range min="0" max="180" [(ngModel)]="sServo" color="secondary">
      <ion-label range-left>0 &deg;</ion-label>
      <ion-label range-right>180 &deg;</ion-label>
    </ion-range>
</ion-list>
</ion-content>


